@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .bg-underline-hover {
    position: relative;
    z-index: 2;
    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      bottom: 0;
      left: 0;
      transition: height 0.1s;
      z-index: -1;
    }
    &:hover:after {
      height: 200%;
    }
  }

  .bg-radial-glow {
    position: relative;
    &>* {
      position: relative;
      z-index: 2;
    }
    &:before {
      position: absolute;
      content: "";
      z-index: 1;
      top: 0%;
      left: 0%;
      width: 100%;
      height: 100%;
      background: radial-gradient(#C0ECFF,transparent 70%);
      border-radius: 9999px;
    }
  }

  .sliding-bg-container {
    &:not(:hover) button.current {color: #F9FBFB !important}
  }
  .sliding-bg-item {
    position: relative;
    &:last-child:after {
      display: block;
      content: "";
      width: 100%;
      height: 100%;
      background-color: transparent;
      transition: all 0.2s ease;
      position: absolute;
      left: 0;
      top: 0;
      pointer-events: none;
    }
    &:nth-child(1).current ~ button:last-child:after {left:-200%; background-color: #00A1FF;}
    &:nth-child(2).current ~ button:last-child:after {left:-100%; background-color: #1FE2E1;}
    &:nth-child(3).current:last-child:after {left:0%; background-color: #B799F3;}
    &:nth-child(1):hover ~ button:last-child:after {left:-200%; background-color: #00A1FF;}
    &:nth-child(2):hover ~ button:last-child:after {left:-100%; background-color: #1FE2E1;}
    &:nth-child(3):last-child:last-child:hover:after {left:0%; background-color: #B799F3 !important;}
    p, div {
      transition: all 0.1s ease;
      position: relative;
    }
    &:hover {color: #F9FBFB !important;}
    &:hover ~ button:last-child:after,
    &:nth-child(3):last-child:last-child:hover:after {border-radius: 2rem; transform: scale(.9)}
  }
}

@layer utilities {
  .image-fade-b {
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
  }
  .image-fade-t {
    mask-image: linear-gradient(to top, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 40%);
  }
  .clip-menu-start {
    clip-path: circle(0% at 95% 2%);
  }
  .clip-menu-end {
    clip-path: circle(100%);
  }
  .text-glow-white {
    text-shadow: 1px 1px 10px rgba(255,255,255,0.6);
  }
  
  .text-glow-blue {
    text-shadow: 0px 2px 4px #1FE2E1;
  }
  .border-underline {
    border-bottom: solid rgba(0,0,0,0.2) 4px;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
  }

  .border-line-r {
    @apply relative after:absolute after:right-0 after:h-full after:w-px after:shadow-glow-white after:border after:border-neutral-50 rounded-lg
  }
  .border-line-l {
    @apply relative after:absolute after:left-0 after:h-full after:w-px after:shadow-glow-white after:border after:border-neutral-50 rounded-lg
  }
  .border-line-t {
    @apply relative after:absolute after:top-0 after:w-full after:h-px after:shadow-glow-white after:border after:border-neutral-50 rounded-lg
  }
  .border-line-b {
    @apply relative after:absolute after:bottom-0 after:w-full after:h-px after:shadow-glow-white after:border after:border-neutral-50 rounded-lg
  }

  .bg-fade-top-black {
    @apply bg-[linear-gradient(to_top,rgba(0,0,0,0.8)_0%,rgba(0,0,0,0.8)_80%,rgba(0,0,0,0)_100%)]
  }
  .bg-fade-bottom-black {
    @apply bg-[linear-gradient(to_bottom,rgba(0,0,0,0.9)_0%,rgba(0,0,0,0.9)_80%,rgba(0,0,0,0)_100%)] md:bg-[linear-gradient(to_bottom,rgba(0,0,0,0.8)_0%,rgba(0,0,0,0.8)_80%,rgba(0,0,0,0)_100%)]
  }
  .bg-fade-right-black {
    @apply bg-[linear-gradient(to_right,rgba(0,0,0,1)_0%,rgba(0,0,0,0)_100%)]
  }
  .bg-fade-left-black {
    @apply bg-[linear-gradient(to_left,rgba(0,0,0,1)_0%,rgba(0,0,0,0)_100%)]
  }
  .bg-blur {
    background: rgba(0,0,0,1);
    @apply before:absolute before:left-0 before:top-0 before:w-full before:blur-lg before:h-full before:z-40
  }
  .shadow-glow-white-x {
    @apply shadow-glow-white [clip-path:inset(-7px_7px_-7px_7px)]
  }
  .shadow-glow-white-b {
    @apply shadow-glow-white [clip-path:inset(7px_7px_-7px_7px)]
  }
  .shadow-glow-white-t {
    @apply shadow-glow-white [clip-path:inset(-7px_7px_7px_7px)]
  }
  .button-glow-white {
    @apply border-neutral-50 border rounded-lg flex items-center gap-1 transition-all text-neutral-400 hover:shadow-glow-white hover:mb-1 hover:text-neutral-50
  }
}

@layer components {
    .underline-expand {
      @apply relative after:absolute after:left-1/2 after:bottom-0 after:w-0 after:h-px after:mt-[2.8vh] after:bg-neutral-50
      after:-translate-x-1/2 after:transition-all after:ease-[cubic-bezier(1,-0.65,0,2.31)] hover:after:w-full active:after:w-full
    }
    .underline-expand-view {
      @apply relative after:absolute after:left-1/2 after:bottom-0 after:w-0 after:h-px after:mt-[2.8vh] after:bg-neutral-50
      after:-translate-x-1/2 after:transition-all after:duration-1000 after:ease-in-out [&.viewed]:after:w-full active:after:w-full
    }
    .underline-slide {
      @apply relative after:absolute after:bottom-0 after:left-0 after:max-w-0 after:h-0.5 after:transition-all after:w-full 
      hover:after:max-w-full active:after:max-w-full after:duration-200 after:bg-neutral-50
    }
    
    .bg-navbar-fade {
        @apply after:absolute after:left-[-40%] after:top-0 after:w-[200%] after:h-[160%] after:z-0 after:bg-[linear-gradient(theme(colors.neutral.900),transparent)]
    }
    .bg-navbar {
        @apply [&>*]:z-10 [&>*]:relative after:absolute after:top-0 after:left-0 after:z-0 after:w-full after:h-full after:transition-all after:duration-300 after:dark:bg-neutral-800/80 after:backdrop-blur-md
        hover:after:rounded-none hover:after:shadow-insetBottom hover:after:w-[200%] hover:after:left-[-50%]
        [&.is-top]:after:rounded-none [&.is-top]:after:shadow-insetBottom [&.is-top]:after:w-[200%] [&.is-top]:after:left-[-50%] [&.is-top]:translate-y-0 transition-transform duration-500
    }
    
    .fade-in {
        @apply [&.viewed]:animate-fadeIn
    }
    .fade-right {
        @apply [&.viewed]:animate-fadeRight
    }
    .fade-left {
      @apply [&.viewed]:animate-fadeLeft
    } 
    .get-larger {
        @apply [&.viewed]:animate-getAgressivelyLarge
    }
    .flip-in {
        @apply [&.viewed]:animate-flipIn
    }
    .children-slide-in {
        & .card {
            @apply translate-x-[100vw] [transition:all_cubic-bezier(0,0,0.58,1)_0.3s] opacity-0 scale-0
        }
        &.viewed .card {
            @apply translate-x-0 opacity-100 scale-100 !top-0
        }
    }

    .hover-saturate {
      @apply filter grayscale brightness-200 contrast-50 hover:grayscale-0 hover:contrast-100 hover:brightness-100 active:grayscale-0 active:brightness-90 active:contrast-100 transition-all hover:cursor-pointer
    }
} 

svg path {
  stroke-dasharray: 4311;
  stroke-dashoffset: 0;
}

svg circle {
  transition: all 0.2s ease-in-out;
}