---
type Props = {
	title: string,
	body: string,
}

const { title, body } = Astro.props;
---
<section id="about-section" class="watch-scroll fade-in flex w-full items-center justify-center gap-32 h-fit backdrop-blur-sm">
    <div class="relative grid gap-4 px-2 border-neutral-50 py-8 border-t border-b border-glow-white shadow-glow-white-x w-full h-fit ">
        <h1 class="font-black text-lg md:text-3xl">
            {title}
        </h1>
        <p class="text-sm md:text-lg">{body}</p>
    </div>
</section>