---

---
<section class="flex w-full items-center justify-center gap-32 py-32 h-fit">
    <div class="text-6xl font-black text-glow-white grid gap-4 min-w-fit">
        <h1 class="watch-scroll fade-right">Get In Touch</h1>
        <h2 class="watch-scroll fade-left text-5xl">Woohoo</h2>
    </div>

</section>