---
import Profile from "@assets/images/Profile.png";

type Props = {
	title: string,
	subtitle: string,
}

const { title, subtitle } = Astro.props;
---
<section class="flex w-full items-center justify-center gap-32 py-32 h-[100svh]">
    <div class="text-6xl font-black text-glow-white grid gap-4 min-w-fit">
        <h1 class="watch-scroll fade-right">{title}</h1>
        <h2 class="watch-scroll fade-left text-5xl">{subtitle}</h2>
    </div>
    <div class="">
        <div class="relative w-[25rem] h-[25rem]">
            <!-- <div class="absolute z-30 w-full h-full shadow-inset rounded-xl"/> -->
            <img src={Profile.src} alt="profile" class="relative h-full z-20 rounded-3xl" >
        </div>
    </div>
</section>