---
import ExperienceCard from '@components/cards/ExperienceCard';
import type { Experience } from '@data/types';
import Lines from '@components/graphics/Lines';


type Props = {
    title: string,
	projectList: Experience[],
}

const { title, projectList } = Astro.props;
---

<section id="projects-section" class="relative grid grid-cols-10 w-full py-4 md:py-32">
    <div class="flex flex-col w-full col-span-10 md:col-span-6 backdrop-blur-sm p-2">
        <h1 class="watch-scroll fade-in font-black text-xl md:text-5xl">{title}</h1>
        {projectList.map((project) => <ExperienceCard experience={project} client:load/>)}
    </div>
    <div id="lines-container" class="hidden md:block relative col-span-4 md:pl-16 lg:pl-16 xl:pl-32 text-neutral-50 watch-scroll fade-in opacity-0">
        <Lines id="lines-graphic2" section="projects-section" client:load/>
        <div class="absolute top-0 w-full h-full blur-sm md:pr-16 lg:pr-16 xl:pr-32">
            <Lines id="blurred-lines-graphic2" section="projects-section" client:load />
        </div>
    </div>
</section>