---
import Wordmap from "@components/graphics/wordmap/Wordmap";
---
<section id="skills-section" class="watch-scroll fade-in flex w-full items-center justify-center h-fit backdrop-blur-sm pb-16 p-2">
    <Wordmap client:load/>
</section>