---
import Wordmap from "@components/graphics/wordmap/Wordmap";
---
<section id="skills-section" class="watch-scroll fade-in flex w-full border-neutral-50 border-b border-glow-white shadow-glow-white-b items-center justify-center gap-32 h-fit backdrop-blur-sm">
    <Wordmap client:load/>
</section>