---
import Wordmap from "@components/graphics/wordmap/Wordmap";
---
<section id="skills-section" class="flex w-full border-neutral-50 border-b border-glow-white shadow-glow-white-b items-center justify-center backdrop-blur-sm gap-32 h-fit">
    <Wordmap client:load/>
</section>