---



const { title, subtitle } = Astro.props;
const testimonials = ["","",""];
---
<section id="testimonials-section" class="flex flex-col w-full items-center justify-center gap-8 md:gap-16 p-2 py-16 md:py-32 h-fit border-neutral-50 border shadow-glow-white-t">
    <h1 class="text-xl md:text-5xl font-black">Testimonials</h1>
    <div class="flex flex-wrap justify-center md:justify-start gap-4 md:gap-16">
        {testimonials.map((t,i) => {return (
            <div class="relative top-0 grid items-center justify-center p-4 md:p-16 border-neutral-50 border rounded-lg shadow-glow-white hover:-top-4 transition-all backdrop-blur-sm">
                <h1 class="text-lg md:text-xl font-medium">"Quote"</h1>
                <h2 class="text-sm md:text-lg font-black">Name</h2>
            </div>
        )})}
    </div>
</section>