---
import { Icons } from "@assets/images/Images";
import CopyToClipboard from "./CopyToClipboard";
import { info } from "@data/text";

const footerText : { company:string, handles: { name:string, url: string, text?:string }[] } = {
    company: info.siteurl||"freddiesmith.dev",
    handles: [
        { name: "LinkedIn", url: info.linkedin||"#" },
        { name: "GitHub", url: info.github||"#" },
    ],
}


const { company, handles } = footerText;
---

<div id="footer" class="relative z-50 bg-[rgba(0,0,0,0.5)] w-full min-h-full">
    <div class="relative z-50 flex flex-col md:flex-row gap-6 md:gap-0 md:justify-between md:items-center p-4 pt-8 md:p-8 md:pt-16 lg:pt-16 w-full text-neutral-50 bg-fade-top-black text-sm md:text-lg">
        <div>
            <p>{`© 2024 ${company}`}</p>
        </div>
        <div class="grid gap-2">
            {handles.map(({url,name,text}) => {
                return (
                    <a class="flex items-center gap-2 max-h-8 text-8 " href={url} target="_blank">
                        <div class="max-h-6 md:max-h-8 aspect-square"><img class="h-full w-full" src={Icons[name]?.src||""} alt={name} /></div>
                        <p class="underline-slide">{text || name}</p>
                    </a>
                );
            })}
            <CopyToClipboard text={info.email||"freddie@freddiesmith.dev"} client:load />
        </div>
    </div>
</div>
